/* style.css */

.column{
    flex : 1 ;
    /* padding: 20px; */
    border: 1px solid #ddd;
    /* box-sizing: border-box; */
}
.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    
}
/* Add this to your existing style.css */

.welcome-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* width: 300px; */
    margin: auto;
}

.welcome-container h1 {
    margin-bottom: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

div.LoginInfo{
    width:100%;
    height:10%;
    background-color: black;
    font-size: 60px;
    text-align: right;
    color: white;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}
header{
    /* width : 100% ;
     */
     padding : 10px;
     text-align: center;
     height : 40% ;
    /* position : relative */
}
.navbar{
    list-style-type: none;
    margin : 0;
    padding : 0 ;
    /* width : 100%; */
}
nav{
    height : 100% ;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

main
{
    display: flex;
    /* flex-wrap: wrap;
     */
     justify-content: space-between;
     /* padding: 20px; */
     height: 100vh;
}
div.StockListAndSearch{
    /* width: 20%; */
    /* height:80%; */
    background-color: gray;
    align-items:flex-start;
    flex :20 ;
    /* display: ; */
}
/* div.GraphDiv{
    /* width:100%; */
    /* height:100%; */
    /* background-color: turquoise; */
    /* } */ 
div.Graph{
    /* width:80%; */
    /* height:100%; */
    /* width : 60% ; */
    background-color: rebeccapurple;
    align-items: flex-start;
    flex : 60 ;
     
}
div.GraphContainer{
    /* width: 80%; */
    align-items: flex-start;
    /* display: ; */
    /* height : auto ; */
    height: 95%;
    width: 100%;
    color: white;
}

.buttons-over-graph{
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}
div.StockSearchDiv{
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 100%; */
    align-items: center;
}
div.StockInfo{
    /* width: 20%; */
    /* height: 100%; */
    background-color: turquoise;
    flex : 20 ;
}
div.StockInfoAndGraph{
    position: relative;
    height: 90%;
    display: flex;
}
input.SearchBar{
    font-size: 32px;
    /* padding: 10px; */
    /* margin: 5px; */
    /* width : 100% ; */
    /* width: 75%; */
}
p.StockItem{
    padding: 10px;
    border-left: 5px solid red;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
}

