<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="LoginBody">
    {% for message in get_flashed_messages() %}
        <div class="ErrorMsg">{{message}}</div>
    {% endfor %}
    <div class="form-container">
        <h2 class = "LoginLabel">Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required class="LoginInput">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required class = "LoginButton">
            </div>
            <div class="form-group">
                <button type="submit" class="LoginButton">Login</button>
            </div>
            <label>{{loginErrorMsg}}</label>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>
