<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.3.min.js" crossorigin="anonymous"></script>

<body>
    <div class="NavBarHeader">
        <nav>
            <ul>
                <li><a href="{{url_for('storehist')}}">Store this in history</a></li>
                <li><a href="{{url_for('add_to_fav')}}">Add to fav</a></li>
                <li><a href="{{ url_for('sort_page') }}">Go to Stocks Page</a></li>
                <li><a href="{{url_for('login_welcome')}}">Login Welcome</a></li>   
            </ul>
        </nav>
    </div>
    <main>
        <div class="SideBarAndStockSummary">
            <div class="SideBar">
                <!-- Favourites table -->
                <table class="StockTableHeading">
                    <tr><th>Favourites</th></tr>
                </table>
                <table class="StockInfoTable">
                    {% for x in stocks_in_fav_symbols %}
                   <!-- <tr> {{x}}</td> -->
                    <tr class="StockInfoTable"><td class="StockInfoTableLeft">{{x}}</td> </tr>
                    {% endfor %}    
                </table>
                <button class="LoadFavButton">Load Favourites</button>
                <table class="StockTableHeading">
                    <tr><th>History</th></tr>
                </table>
                <table class="StockInfoTable">
                    {% for x in stocks_in_history_symbols %}
                    <tr class="StockInfoTable"><td class="StockInfoTableLeft">{{x}}</td> </tr> 
                    <!-- <tr>{{x}}</tr>  -->
                    {% endfor %}

                </table>
            </div>
            <div class="StockSummary">
                <div class="IndicesSummaryHeading">
                    NSE Indices Summary
                </div>
                <div class="IndexGraphContainer">
                    {{div|safe}}{{script|safe}}
                </div>
            </div>
        </div>
    </main>
</body>

</html>