<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="LoginBody">
    <div class="ErrorListCont">
        {%with messages = get_flashed_messages()%}
        {%if messages %}
            {% for message in messages %}
                <div class="IndvError">
                    {{message}} <button class="ErrorMsgClsButton" onclick="this.parentNode.remove()">x</button>
                </div>
            {% endfor %}
        {%endif%}
        {%endwith%}
    </div>
    <div class="form-container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirmPass" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="LoginButton" >Register</button>
            </div>
            <!--
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            -->
        </form>
        <p>Already have an account? <a href="/">Login here</a></p>
    </div>
</body>
</html>
