<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sort_style.css') }}">
    <title>Stocks Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="sidebar">


        <form class='filter'action="/process_filters" method="POST">
            <label class="font-inc" for="Volume">Volume  </label>
            <br>
            <input type="number" name = 'l_lim[]' placeholder="{{filter_lims['vol'][0]}}">
            <input type="number" name = 'm_lim[]' placeholder="{{filter_lims['vol'][1]}}">
            <br>
            <br>
            <label class="font-inc" for="pe_ratio">P/E Ratio</label>
        <br>
            <input type="number" name = 'l_lim[]' placeholder="{{filter_lims['pe_rat'][0]}}">
            <input type="number" name = 'm_lim[]' placeholder="{{filter_lims['pe_rat'][1]}}">
            <br>
            <br>
            <label class="font-inc" for="marketCap">Market Cap</label>
        <br>
            <input type="number" name = 'l_lim[]' placeholder="{{filter_lims['marketCap'][0]}}">
            <input type="number" name = 'm_lim[]' placeholder="{{filter_lims['marketCap'][1]}}">
            <br>
            <br>
            <label class="font-inc" for="Price">Price</label>
<br>
            <input type="number" name = 'l_lim[]' placeholder="{{filter_lims['price'][0]}}">
            <input type="number" name = 'm_lim[]' placeholder="{{filter_lims['price'][1]}}">
            <br>
            <br>
            <label class="font-inc"  for="">Industry Filters :</label>
            <br>
            <br>
            {% for i in range(0,12) %}

            <input type="checkbox" name="checked_filter_boxes[]" value={{i}} {% if checked_filter_boxes[i]=='yes' %} checked {% endif %}>
            <label for="checkbox">{{Industries_filter[i]}}</label>
            <br>
            <br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>

        </div>

        <div class="content">
            <ul id="sortedStockList">
                <table>
                    <thead>
                        <tr class="button-row">
                            <form action="/sort_filters" method="POST">
                            {% for col in filtered_df_columns %}
                                <th>
                                    <button class="table-button" type="submit" name="sort" value="{{col}}">{{col}}</button>
                                
                                </th>
                            {% endfor %}
                            </form>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index,row in filtered_df.iterrows() %}
                        <tr>
                            {% for col in filtered_df_columns %}
                                
                            <td>{{ row[col]}}</td>
                                
                                
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
</body>
</html>
