<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.3.min.js" crossorigin="anonymous"></script>




<body>
    <header>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li> <a href="{{ url_for('sort_page') }}">Go to Stocks Page</a></li>
                <!-- <a href="#">Home</a> -->
                <!-- <a href="#">About us</a> -->
            </ul>
        </nav>

    </header>
    <!--
        <div class="welcome-container">
            <h1>Welcome, {{ username }}!</h1>
            <p>This is your dashboard.</p>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    -->
    <main>

        <div class="StockListAndSearch column" id="left-column">
            <div class="StockSearchDiv">
                <form action="/updateList" method="POST">
                    <input type="search" name="search_bar" class="SearchBar">
                    <button type="submit">Submit</button>

                </form>
            </div>
            <div class="StockList">
                <form action="/selectStock" method="POST">
                    {% for stock in stockList %}
                    {% if stock == currentlySelected %}
                    <button type="submit" name="selectedStock" value="{{stock}}"
                        style="background-color: #4CAF50; color: white;">{{stock}}</button>
                    {% else %}
                    <button type="submit" name="selectedStock" value="{{stock}}" color=#>{{stock}}</button>
                    {% endif %}
                    <!-- <p class ="StockItem">{{stock}}</p>             -->
                    <form action="/closeStock" method="POST" style="display: inline-block;">
                        <input type="hidden" name="closedStock" value="{{ stock }}">
                        <button type="submit" style="background-color: #f44336; color: white;">✖</button>
                    </form>
                    {% endfor%}
                </form>
            </div>

        </div>
        <div class="Graph column" id="center-column">

            <div class="buttons-over-graph" id="modes-container">
                <form action="/process_mode_change" method="POST">
                    <input type="submit" name="graph-mode" value="Mode1">
                    <br>
                    <input type="submit" name="graph-mode" value="Mode2">
                    <br>
                    <input type="submit" name="graph-mode" value="Mode3">
                </form>
            </div>
            {% if mode == 'Mode1' %}
            <div class="GraphContainer">
                {{ div | safe}}
                {{ script | safe}}
            </div>
            {% endif %}
            {% if mode == 'Mode2' %}
            <div class="TableContainer">
                {% for symbolName in dataFrameDict %}
                {%set df = dataFrameDict[symbolName]%}
                <div class="IndividualTable">
                    <div class="HeadingContainer">
                        <table class="TableHeading">
                            <tr>
                                <td class="TableHeading">{{symbolName}}</td>
                            </tr>
                        </table>
                    </div>
                    <table class="StockDataTable">
                        <tr class="StockDataTable">
                            {%for key in df %}
                            <th class="StockDataTable"> {{key}}</th>
                            {%endfor%}
                        </tr>
                        {%for index,row in df.iterrows()%}
                        <tr class="StockDataTable">
                            {%set Datetime = row['Datetime']%}
                            <td class="StockDataTable">{{Datetime}}</td>
                            {%set Open = row['Open']%}
                            <td class="StockDataTable">{{"%.2f"|format(Open)}}</td>
                            {%set High = row['High']%}
                            <td class="StockDataTable">{{"%.2f"|format(High)}}</td>
                            {%set Low = row['Low']%}
                            <td class="StockDataTable">{{"%.2f"|format(Low)}}</td>
                            {%set Close = row['Close']%}
                            <td class="StockDataTable">{{"%.2f"|format(Close)}}</td>
                            {%set Volume = row['Volume']%}
                            <td class="StockDataTable">{{Volume}}</td>
                            {%set Dividend = row['Dividends']%}
                            <td class="StockDataTable">{{"%.2f"|format(Dividend)}}</td>
                            {%set StockSplits = row['Stock Splits']%}
                            <td class="StockDataTable">{{"%.2f"|format(StockSplits)}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                {% endfor%}
            </div>

            {% endif %}
        </div>
        <div class="StockInfo" id="right-column">
            <div class="StockInfoTableCont">
                <div class="right-tables">

                    <table class="StockTableHeading">
                        <tr>
                            <th class="StockTableHeading">{{ curStockInfo['longName'] }}</th>
                        </tr>
                    </table>
                <table class="StockInfoTable" id="table1">
                    <thead class="first">
                        <th class="StockInfoTable"> Daily Summary</th>
                    </thead>
                    <tbody>
                        
                        <tr class="rows">
                            <td class="StockInfoTable">Opening Price</td>
                            <td class="StockInfoTable">{{ curStockInfo['open'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Previous Close</td>
                            <td class="StockInfoTable">{{ curStockInfo['previousClose'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Current Price</td>
                            <td class="StockInfoTable">{{ curStockInfo['currentPrice'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">High</td>
                            <td class="StockInfoTable">{{ curStockInfo['dayHigh'] }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="last">
                            <td class="StockInfoTable">Low</td>
                            <td class="StockInfoTable">{{ curStockInfo['dayLow'] }}</td>
                        </tr>
                    </tfoot>
                </table>

                <br>
                <br>
                <br>
                <br>
                <table id="table1">
                    <thead class="first">
                        
                        
                        <th class="StockInfoTable">Yearly Summary</th>
                        
                    </thead>
                    <tbody>

                        <tr class="rows">
                            <td class="StockInfoTable">Yearly Low</td>
                            <td class="StockInfoTable">{{ curStockInfo['fiftyTwoWeekLow'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Yearly High</td>
                            <td class="StockInfoTable">{{ curStockInfo['fiftyTwoWeekHigh']}}</td>
                        </tr>
                        
                        <tr class="rows">
                            <td class="StockInfoTable">Trailing PE</td>
                            <td class="StockInfoTable">{{ curStockInfo['trailingPE'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Forward PE</td>
                            <td class="StockInfoTable">{{ curStockInfo['forwardPE']}}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Market Cap</td>
                            <td class="StockInfoTable">{{ curStockInfo['marketCap'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Forward Eps</td>
                            <td class="StockInfoTable">{{ curStockInfo['forwardEps'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Trailing Eps</td>
                            <td class="StockInfoTable">{{ curStockInfo['trailingEps'] }}</td>
                        </tr>
                        
                        <tr class="rows">
                            <td class="StockInfoTable">Book value</td>
                            <td class="StockInfoTable">{{ curStockInfo['bookValue'] }}</td>
                        </tr>
                        <tr class="rows">
                            <td class="StockInfoTable">Div Yield</td>
                            <td class="StockInfoTable">{{ curStockInfo['dividendYield'] }}</td>
                        </tr>
                    </tbody>
                    <tfoot class="last">
                        <tr>
                            <td class="StockInfoTable">ROE</td>
                            <td class="StockInfoTable">{{ curStockInfo['returnOnEquity'] }}</td>
                        </tr>
                    </tfoot>

                </table>
                
            </div>
                <div class="StockInfo2">
                    <form action="/process_duration" method="POST">
                        <label for="duration">Select Data Duration:</label>
                        <select name="duration" id="duration" onchange="this.form.submit()">

                            <option value="1_day" {% if selected_duration=='1_day' %} selected {% endif %}>1 Day
                            </option>
                            <option value="1_week" {% if selected_duration=='1_week' %} selected {% endif %}>1 Week
                            </option>
                            <option value="1_month" {% if selected_duration=='1_month' %} selected {% endif %}>1
                                Month</option>
                            <option value="1_year" {% if selected_duration=='1_year' %} selected {% endif %}>1 Year
                            </option>
                            <option value="5_year" {% if selected_duration=='5_year' %} selected {% endif %}>5 Year
                            </option>
                            <option value="All" {% if selected_duration=='All' %} selected {% endif %}>All</option>

                        </select>

                        <!-- <button type="submit">Submit</button> -->
                    </form>
                </div>
                <div class="StockInfo3">
                    <form action="/process_graph_options" method="POST">
                        <label>Select Graph Types:</label><br>

                        <input type="checkbox" name="graph_options[]" value="HIGH" onchange="this.form.submit()" {% if
                            curGraphSelection[currentlySelected]['graphCont']["HIGH"]==True %} checked {% endif
                            %}>High<br>
                        <input type="checkbox" name="graph_options[]" value="LOW" onchange="this.form.submit()" {% if
                            curGraphSelection[currentlySelected]['graphCont']["LOW"]==True %} checked {% endif
                            %}>Low<br>
                        <input type="checkbox" name="graph_options[]" value="OPEN" onchange="this.form.submit()" {% if
                            curGraphSelection[currentlySelected]['graphCont']["OPEN"]==True %} checked {% endif
                            %}>Open<br>
                        <input type="checkbox" name="graph_options[]" value="CLOSE" onchange="this.form.submit()" {% if
                            curGraphSelection[currentlySelected]['graphCont']["CLOSE"]==True %} checked {% endif
                            %}>Close<br>
                        <input type="checkbox" name="graph_options[]" value="COMBINED" onchange="this.form.submit()" {%
                            if curGraphSelection[currentlySelected]['graphCont']["COMBINED"]==True %} checked {% endif
                            %}>Combined<br>
                        <!-- <input type="checkbox" name="graph_options[]" value="radar_chart"> Radar Chart<br> -->

                        <!-- <button type="submit">Submit</button> -->
                    </form>

                </div>
            </div>
        </div>
    </main>
</body>


</html>